<!-- Header Include !-->
<header class="template-header">

	<div class="super-header">
	{{widget('profile', 'profile-phone', { 'profileType':'phone', 'phone':'profile', 'refreshtime':'1800000'})|raw}}
	{{widget('profile', 'profile-address', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
	</div>

	<div class="feature-wrapper">

		{{widget('feature', 'feature', {"header": "profile", "strapline":"profile", "buttonText":"profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
		<div class="company-info">
					{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
					{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
	</div>

			{{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}

</header>
